body{
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
    font-weight: 100;
}

#strip{
    background: white;
    text-align: center;
    height: 30px;
    color: black
}

#container{
    max-width: 600px;
    margin: 20px auto;
}
.square{
    width: 30%;
    padding-bottom: 30%; 
    float: left;    
    margin: 1.66%;
    border-radius: 17px;
    transition: background 0.5s;
}
h1{
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    background-color: steelblue;
    margin: 0;
    line-height: 1.1;
    padding: 20px o ;
}

#colordisplay{
    font-size: 200%;
}
button{
    background: none;
    border: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    transition: all 0.3s;
    outline: none;
}
#message{
    display: inline-block;
    width: 20%;
}
.selectedButton{
    background-color: steelblue;
    color: white;
}
button:hover{
    background-color: steelblue;
    color: white;
    
}
